.contacto_ambiotec{
	background: #ECF0F1;
	overflow: hidden;
	position: relative;
	h1{
		background: $BkgColor;
		color: $secondaryColor !important;
		position: absolute;
		top: 15px;
		width: 100%;
	}
	.informacion-contacto{
		background: url("../images/border.png") repeat-x 0 bottom;
		margin-top: 80px;
		overflow: hidden;
		padding-bottom: 15px;
		.colombia,
		.peru{
			float: left;
			font-size: 16px;
			padding: 10px 0;
			width: 48%;
			.direccion,
			.telefono{
				color: $mainColorTxt;
				display: block;
				font-size: 14px;
				float: left;
				width: 240px;
			}
			.direccion{
				&:before{
					content: "\e607";
					color: $BkgColor;
					font-family: $iconFont;
					font-size: 2em;
					vertical-align: middle;
				}
			}
			.telefono{
				margin: 10px 0;
				&:before{
					content: "\e606";
					color: $BkgColor;
					font-family: $iconFont;
					font-size: 2em;
					vertical-align: middle;
				}
			}
		}
		.ubicacion{
			display: inline-block;
			float: left;
			width: 50%;
		}
		.pais{
			color: $secondaryColorTxt;
			display: block;
			font-family: $mainFontLight;
			font-size: 32px;
			text-transform: uppercase;
		}
		.ciudad{
			color: $mainBkgColor;
			display: block;
			font-family: $mainFontItalic;
			font-size: 16px;
		}
		.colombia{
			margin-right: 4%;
			.ubicacion{
				&:before{
					content: "";
					background: url("../images/colombia.png") no-repeat 0 0;
					background-size: contain;
					display: inline-block;
					float: left;
					height: 70px;
					margin-right: 15px;
					width: 50px;
				}
			}
		}
		.peru{
			.ubicacion{
				width: 30%;
				&:before{
					content: "";
					background: url("../images/peru.png") no-repeat 0 0;
					background-size: contain;
					display: inline-block;
					float: left;
					height: 70px;
					margin-right: 15px;
					width: 50px;
				}
			}
		}
	}
	.formularios-ambiotec{
		overflow: hidden;
		padding: 30px 20px;
		width: 905px;
		h2{
			color: $mainColorTxt;
			font-family: $mainFontLight;
			font-size: 32px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}	
		.form-type-textarea{
			margin: 0;
			overflow: hidden;
			width: 100%;
		}
	}
	#form-formulario-contacto-form{
		.form-item-nombre-contacto,
		.form-item-correo-electronico{			
			overflow: hidden;
			width: 48%;
		}
		.form-item-nombre-contacto{
			float: left;
			margin-top: 10px;
			margin-right: 4%;
		}
		input{
			width: 90%;
		}
		.form-submit{
			width: 100%;
		}
	}
	#form-formulario-trabaje-form{
		input,
		textarea{
			width: 65%;
		}
		.form-submit{
			width: 70%;
		}
	}
	.form-textarea-wrapper{
		width: 100%;
	}
	textarea{
		height: 156px;
	}
	.form-file{
		margin: 5px 0 0;
	}
	form > div,
	form > div > div{
		margin: 0;
		width: auto;
	}
	.right{
		float: right;
		width: 45%;
		input{
			margin: 5px 0 10px;
		}
	}
	.left{
		margin-right: 10px;
		float: left;
		width: 50%;
	}
}
.form-item input.error, 
.form-item textarea.error, 
.form-item select.error{
	border: 2px solid $mainBkgColor;
}

@media (min-width: 768px) and (max-width:1024px){
	.contacto_ambiotec{
		.informacion-contacto{
			margin-top: 80px;
			padding-bottom: 20px;
			.colombia,
			.peru{
				width: 100%;
			}
			.ubicacion{
				margin-left: 17%;
				width: 33%;
			}
			.peru{
				.ubicacion{
					width: 20%;
				}
			}
		}
		.left{
			float: none;
			margin: 0 auto;
			width: 510px;
		}
		.formularios-ambiotec{
			width: 747px;
			.right{
				display: none;
			}
		}
	}
}

@media (max-width:767px){
	.contacto_ambiotec{
		.informacion-contacto{
			.colombia,
			.peru{
				width: 100%;
			}
			.ubicacion{
				width: 100%;
			}
			.peru{
				.ubicacion{
					width: 100%;
				}
			}
			.ciudad,
			.pais{
				margin-left: 80px;
			}
		}
		.left{
			float: none;
			margin: 0 auto;
			width: 320px;
		}
		#form-formulario-contacto-form{
			.form-item-nombre-contacto,
			.form-item-correo-electronico{
				width: 100%;
			}
			input{
				width: 93%;
			}
			.form-item-nombre-contacto{
				margin-bottom: 15px;
			}
		}
		.formularios-ambiotec{
			width: 320px;
			.right{
				display: none;
			}
		}
	}
}