//Fonts
$mainFont : 'opensans-regular';
$mainFontItalic : 'opensans-italic';;
$mainFontLight : 'opensans-light';
$secondaryFont : 'Fanwood Text', serif;
$iconFont : 'iconFont';

//Colors
$mainBkgColor : #0B98CB; //blue
$thirdBkgColor : #ECF0F1;
$BkgColor : #384349; //black
$hoverBkg : #0787BB;
$secondaryColor : #fff; //white
$BkgColorIntro : #F2F9F5; // lightgray 

$mainColorTxt : #747C83;
$secondaryColorTxt : #323A45; 
$thirdColor : #78B883; //green
$mainColorTitle : #7F8C8D;
